<head>
<style type="text/css">
.e-image{
  width: 150%;
  height: 1100px;
  margin: 0 auto;
  background-image:url(/images/events.2.png)
}

.e-box {
  width: 700px;
  height: 1100px;
  margin: 0 0 0 400px;
  background-color: #DCDCDC;
  opacity: 0.7; 
}



.e-span{
  font-size: 35px;
  margin: 0 0 0 100px;
  font-color: red;
}

.title{
  margin: 0 0 0 120px;
  font-size: 20px;
  color: blue;
}

.title2{
  font-size: 20px;
  opacity: 1.0;
}

.text{
  margin: 0 0 0 180px;
  font-size: 20px;
  color: blue;
  opacity: 1.0;
}

.text2{
  font-size: 20px;
  opacity: 1.0;
}

.e-button{
  margin: 0 0 0 500px;
  width:140px;
  color: red;
  background-image:url(/images/event.4.jpg) ;
  background-size: 100%;
  padding:10px;
  font-size: 30px;
  opacity: 1.0; 
}

.e-name{
  margin: 0 0 0 50px;
  font-size: 20px;
  color: red;
}

.e-page{
  font-size: 50px;
  margin: 0 0 0 300px;
}

.p-box{
  width: 400px;
  height: 20px;
  margin: 0 0 0 400px;
  font-size: 20px;
}

</style>
</head>

<p id="notice"><%= notice %></p>


<nav class="e-image">
<div class="e-box">
<%= search_form_for(@search) do |f| %>

<p class="title">
<%= f.label :title_start,"イベント名で探せぇ！" %>
<%= f.search_field :title_start, class: "title2" %>
</p>

<p class="text">
<%= f.label :bpdy_cont,"内容で探せぇ！" %>
<%= f.search_field :body_cont, class: "text2" %>
</p>

<%# 検索ボタン %>

<%= f.submit value="検索ゥ！", class: "e-button" %>

<% end %>


<% @events.each do |event|%>
     <p class="e-name">開催されしイベント名</p>

    <span class="e-span">
    <%= link_to event.title, "/events/#{event.id}" %>
    </span> 


<% end %> 

</div>
</nav>
<div class="p-box">
 <%= paginate(@events) %>
</div>





