<head>
<style type="text/css">
.e-image{
  width: 150%;
  height: 1050px;
  margin: 0 auto;
  background-image:url(/images/events.2.png)
}

.e-box {
  width: 600px;
  height: 1050px;
  margin: 0 0 0 400px;
  background-color: white;
  opacity: 0.7; 
}



.e-span{
  font-size: 30px;
  margin: 0 0 0 200px;
  font-color: red;
}

.title{
  margin: 0 0 0 100px;
  font-size: 20px;
  color: blue;
}

.title2{
  font-size: 20px;
  opacity: 1.0;
}

.text{
  margin: 0 0 0 160px;
  font-size: 20px;
  color: pink;
  opacity: 1.0;
}

.text2{
  font-size: 20px;
  opacity: 1.0;
}

.bottun{
  margin: 0 0 0 500px;
}

.e-name{
  margin: 0 0 0 100px;
  font-size: 30px;
  color: red;
}

.e-page{
  font-size: 50px;
  margin: 0 0 0 300px;
}

</style>
</head>

<p id="notice"><%= notice %></p>


<nav class="e-image">
<div class="e-box">
<%= search_form_for(@search) do |f| %>

<p class="title">
<%= f.label :title_start,"イベント名で検索はこっちだ！" %>
<%= f.search_field :title_start, class: "title2" %>
</p>

<p class="text">
<%= f.label :bpdy_cont,"内容で検索はこっちよ！" %>
<%= f.search_field :body_cont, class: "text2" %>
</p>

<%# 検索ボタン %>
<p class="bottun">
<%= f.submit %>
</p>
<% end %>


<% @events.each do |event|%>
     <p class="e-name">イベントの名は。</p>

    <span class="e-span">
    <%= link_to event.title, "/events/#{event.id}" %>
    </span> 


<% end %> 

</div>
</nav>
<p class="e-page">
 <%= paginate(@events) %>
</p>





