<p id="notice"><%= notice %></p>

<%= search_form_for(@search) do |f| %>

<%= f.label :title_start,"タイトル" %>
<%= f.search_field :title_start %>

<%= f.label :bpdy_cont,"本文" %>
<%= f.search_field :body_cont %>

<%# 検索ボタン %>
<%= f.submit %>
<% end %>



<% @events.each do |event|%>
     <p>イベント名</p>

    <span>
    <%= link_to event.title, "/events/#{event.id}" %>
    </span> 

<% end %>    





