<head>
<style type="text/css">
nav{
	width: 140%;
	height: 800px;
	background-image:url(/images/events.1.jpg)
}

.e-title{
	font-size: 30px;
}

.e-box{
	font-size: 30px;
}

.e-font{
	font-size: 30px;
}

.e-botton{
	color: red;
}






</style>
</head>

<!-- <img src="/public/images/Otamatch.png" /> -->
<nav>
<!-- <div style="background-image:url(/images/Otamatch.event.1.png")" /> -->

<%= form_for(@event) do |f| %>
 <div class="c-container"> 
  <h1>イベント作成</h1>

	<div class="c-box">
		<p class="e-title">イベント名</p>
		<%= f.text_field :title %>
	</div>

	<div class="c-box">
		<p class="e-box">内容</p>
		<%= f.text_area :body %>
	</div>

	<div class="c-box">
		<p class="e-font">製作者</p>
		<%= f.text_field :title %> 
	</div>



	<div class="c-box">
		<%= f.submit value="(/images/event.1.jpg)"%>
	</div>
        <% end %>	

</nav>       
</div>
</div>

