<!-- <link rel="stylesheet" href="events.css" type="text/css"> -->

<head>
<style type="text/css">
.e-image{
  width: 150%;
  height: 800px;
  background-image:url(/images/events.3.jpg)
}


.e-title{
  margin: 0 0 20px 280px;
  font-size: 30px;
  color: green;
  opacity: 1.0;
}

.e-font{
  margin: 0 0 20px 280px;
  font-size: 20px	
}

.e-p{
  margin: 0 0 20px 520px;	
  font-size: 30px;	
}

.e-box{
  width: 900px;
  height: 790px;
  margin: 0 0 0 0;
  background-color: white;	
  opacity: 0.6;

}


</style>
</head>


<nav class="e-image">



 <div class="e-box">
  <h2 class="e-title">先輩！このイベント名は...</h2>
   <p class="e-font"><%= @event.title  %></p>
   <p class="e-p">です！</p>

  <h2 class="e-title">内容は...</h2>
   <p= class="e-font"><%= @event.body %></p>
  <p class="e-p">だそうです！<br>先輩！ぜひ参加して<br>みましょう！</p>

  <p><%= @event.body %></p>
<% if @event.joined_by? current_user %>
    <%= link_to "退会", event_event_joins_path(@event.id), method: :delete %>
    <% else %>
    <%= link_to "参加", event_event_joins_path(@event.id), method: :post %>
    <% end %>
</div>



 </nav>
