<<<<<<< HEAD
<%= search_form_for @search do |f|  %>

<%#= f.label :title_or_body_cont,"サークル名" %>

<%= f.search_field :title_or_body_cont %>

<%= f.submit %>

<% end %>

<% @circles.each do |circle| %>

<%= circle.title %><br>

=======
<h1>サークル一覧</h1>
<% @circles.each do |cirlce| %>
  <p>タイトル</p>
  <span><%=link_to circle.title, circle_path(circle.id)  %></span>
>>>>>>> f9afa7c3c0155df792aca6dc3de63c4de5d2dbbf
<% end %>



