<h2>タイトル</h2>
<p><%= @circle.title %></p>
<h2>内容</h2>
<p><%= @circle.body %></p>
<% if @circle.joined_by? current_user %>
    <%= link_to "退会", circle_circle_joins_path(@circle.id), method: :delete %>
    <% else %>
    <%= link_to "参加", circle_circle_joins_path(@circle.id), method: :post %>
<% end %>

<div>
	<%= link_to "サークルメンバー一覧", circle_joins_user_path(current_user.id), method: :get %>
</div>
<div>
	<%= link_to "サークルイベント一覧", events_path, method: :get %>
</div>
<div>
	<%= link_to "サークル掲示板一覧", boards_path, method: :get %>
</div>