<head>
<style type="text/css">
	.c-container{
		padding-top: 40px;
		width: 100%;
		height: 800px;

		background-image:url(/images/events.1.jpg)
	}
	.c-font{
		font-color: black;
	}
	.c-text{
		padding-left: 30px;
	}
</style>	
</head>

<div class="c-container">
<h2>タイトル</h2>
<p class="c-text"><%= @circle.title %></p>
<h2>内容</h2>
<p class="c-text"><%= @circle.body %></p>
<% if @circle.joined_by? current_user %>
    <%= link_to "退会", circle_circle_joins_path(@circle.id), method: :delete %>
    <% else %>
    <%= link_to "参加", circle_circle_joins_path(@circle.id), method: :post %>
<% end %>

<div>
	<p class="c-font"><%= link_to "サークルメンバー一覧", "/circle/#{@circle.id}/circle_joins", method: :get %></p>
</div>
<div>
	<p class="c-font"><%= link_to "サークルイベント一覧", events_path, method: :get %></p>
</div>
<div>
	<div class="wrapper wrapper__bg">
	<div class="container">



<!--  -->
	

			<h1 class="title">
				<% @circle.boards.each do |circle| %>
					<%= link_to circle.title, circle_path(circle) %>
				<% end -%>
			</h1>


			<hr>

			<div class="panel">
				<% @circle.boards.each do |board| %>
					<%= link_to board.title, board_path(board) %> <br>
				<% end -%>
			</div>
		</div>
		</div>
	</div>

