<!DOCTYPE html>
<html>
  <head>
    <title>オタマッチ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <div class="container">
        <div class="sub-ttl">オタクのためのソーシャルマッチングサイト</div>
	    <div id="logo">オタマッチ</div>
	    <ul class="header-right">
	      <li><%= link_to "トップ", top_path %></li>
	      <li>ログイン</li>
	      <li>ログアウト</li>
	    </ul>
	  </div>
	</header>
    <%= yield %>
  </body>
</html>
